body {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  #game-intro {
    padding: 20px 0px;
    position: relative; 
    text-align: center; 
  }

 

  #game-intro-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

/* set up styles for our title and paragragh*/
h1{

  font-family: 'Arial', sans-serif; 
  font-size: 47px; 
  text-align: center; 
  margin: 10px; 
  border-radius: 10px; 
  transition: all 0.3s ease-in-out; 
  background: linear-gradient(45deg, #D3D1FD, #4F25C8); /* Gradient from purple to orange-yellow */

  border-radius: 4px;
  color: white; /* White text for better contrast */
  transition: background 0.3s ease; /* Smooth transition for background change */

  padding: 0px 10px;
  box-shadow: 10;
  border-radius: 20px;

}

h1:hover {
  transform: scale(1.1); /* slightly bigger */
  box-shadow: 0px 0px 20px #e2bd2b; /* shallow */
}


 #win-logic, #operation-logic {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
    width: 20%;
    flex-grow: 1; /* more space */
    margin: 0 10px; 
}

#win-logic:hover, #operation-logic:hover {
    transform: scale(1.03); /* Slightly enlarge sections on hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: linear-gradient(45deg, #7d3cff, #ff9700); /* Gradient from purple to orange-yellow */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    color: white; /* White text for better contrast */
    transition: background 0.3s ease; /* Smooth transition for background change */
}

ul li:hover {
    background: linear-gradient(45deg, #ff9700, #7d3cff); /* Invert gradient on hover */
}


p, h2 {
  font-family: 'Arial', sans-serif;
  color: #ae2be2; 
  font-size: 32px; 
  text-align: center; 
  margin: 5px; 
  border-radius: 10px; 
  transition: all 0.3s ease-in-out; 
}

/* mouse styles */
h2:hover {
  transform: scale(1.1); /* slightly bigger */
  box-shadow: 0px 0px 20px #e2bd2b; /* shallow */
}


/* align the text style */
#mutation, #score, #lives, #gameOver {
  font-family: 'Arial', sans-serif; 
  color: #8a2be2;
  font-size: 20px; 
  text-align: center; 
  margin: 10px; 
  padding: 5px; 
  background-color: rgba(138, 43, 226, 0.1); 
  border-radius: 10px; 
  box-shadow: 0px 0px 10px #8a2be2; 


}

/* flash animation */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* float animation */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

/* apply animation */
#score, #lives, #gameOver {
  animation: blink 120s linear infinite, float 5s ease-in-out infinite;
}


  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url('../images/backgrounInGame.png');
    margin: 0 auto;
   

    background-size: cover;
    z-index: 1; 

    animation: slide 5s linear infinite;
  }
  
  @keyframes slide {
    0% {
      background-position: -1000px 0;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 0;
    }
  }
  
  
#start-button {
    font-size: 30px;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 50;
    border-radius: 20px;
    margin-bottom: 20px;

    background: linear-gradient(45deg, #7d3cff, #ff9700); /* Gradient from purple to orange-yellow */
    transition: background 0.3s ease; /* Smooth transition for background change */

    position: absolute; 
    top: 42%; 
    left:70.5%; 
  
  }


  #game-end {
    display: none;
  }

  #start-button:hover{
    transform: scale(1.03); /* Slightly enlarge sections on hover */
		background: linear-gradient(45deg, #ff9700, #7d3cff); /* Invert gradient on hover */
  }

  #restart-button{

    position: absolute;
    font-size: 30px;
    background-color: blueviolet;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    z-index: 10;

  }


  #money-rain-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    z-index: 9; 
}

.money-rain {
    position: absolute;
    width: 50px; 
    height: 50px;
    background-image: url('../images/star-use-3.png');  
    background-size: cover;
    animation: fall 3s linear infinite;
}

@keyframes fall {
    0% { top: -100px; }
    100% { top: 100%; }
}


#game-end {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url('../images/background.png'); 
  margin: 0 auto;
  height: 50vw;

  background-size: cover;
  z-index: 1; 

  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: -1000px 0;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}